@page "/"

<PageTitle>OZON</PageTitle>

<div class="product-container">
    <div class="product-card">
        <img src="https://ir-3.ozone.ru/s3/multimedia-1-i/wc1000/7094224854.jpg" alt="Товар 1">
        <h5>Чайник электрический GARTZ KPT70K</h5>
        <p>★5.0 · 120 отзывов</p>
    </div>
    <div class="product-card">
        <img src="https://ir-3.ozone.ru/s3/multimedia-1-b/wc1000/7137948323.jpg" alt="Товар 2">
        <h5>Тапочки LAZZIO HOME</h5>
        <p>★3.7 · 789 отзывов</p>
    </div>
    <div class="product-card">
        <img src="https://ir-3.ozone.ru/s3/multimedia-1-2/wc1000/7016181518.jpg" alt="Товар 3">
        <h5>HAOYUKNIGHT Велосипед Горный</h5>
        <p>★4.7 · 1289 отзывов</p>
    </div>
    <div class="product-card">
        <img src="https://ir-3.ozone.ru/s3/multimedia-q/wc1000/6844351670.jpg" alt="Товар 4">
        <h5>СОЮЗ сетевой удлинитель 3 роз - 10 м</h5>
        <p>★4.9 · 12 489 отзывов</p>
    </div>
</div>

